:root {
  /* Colores base */
  --white: hsl(0 0% 100%);
  --black: hsl(0 0% 0%);
  --base-background: var(--white);

  --accent-1: hsl(240 33% 99%);
  --accent-2: hsl(240 33% 98%);
  --accent-3: hsl(240 33% 97%);
  --accent-4: hsl(240 33% 94%);
  --accent-5: hsl(240 33% 90%);
  --accent-6: hsl(240 33% 83%);
  --accent-7: hsl(240 73% 80%);
  --accent-8: hsl(240 73% 74%);
  --accent-9: hsl(240 62% 57%);
  --accent-10: hsl(240 61% 52%);
  --accent-11: hsl(240 54% 51%);
  --accent-12: hsl(240 55% 22%);
  --accent-a1: hsl(240 100% 50% / 0.01);
  --accent-a2: hsl(240 100% 50% / 0.03);
  --accent-a3: hsl(240 90% 47% / 0.06);
  --accent-a4: hsl(240 100% 50% / 0.1);
  --accent-a5: hsl(240 100% 50% / 0.15);
  --accent-a6: hsl(240 100% 50% / 0.2);
  --accent-a7: hsl(240 90% 45% / 0.28);
  --accent-a8: hsl(240 85% 43% / 0.39);
  --accent-a9: hsl(240 75% 38% / 0.64);
  --accent-a10: hsl(240 72% 35% / 0.68);
  --accent-a11: hsl(240 67% 34% / 0.67);
  --accent-a12: hsl(240 85% 14% / 0.85);
  --accent-contrast: var(--white);

  --neutral-1: hsl(240 9% 99%);
  --neutral-2: hsl(240 8% 98%);
  --neutral-3: hsl(240 7% 95%);
  --neutral-4: hsl(240 7% 92%);
  --neutral-5: hsl(240 6% 89%);
  --neutral-6: hsl(240 6% 86%);
  --neutral-7: hsl(240 8% 83%);
  --neutral-8: hsl(240 11% 76%);
  --neutral-9: hsl(240 9% 59%);
  --neutral-10: hsl(240 8% 53%);
  --neutral-11: hsl(240 7% 41%);
  --neutral-12: hsl(240 10% 14%);
  --neutral-a1: hsl(240 100% 33% / 0.01);
  --neutral-a2: hsl(240 100% 33% / 0.02);
  --neutral-a3: hsl(240 100% 20% / 0.06);
  --neutral-a4: hsl(240 100% 18% / 0.09);
  --neutral-a5: hsl(240 100% 20% / 0.12);
  --neutral-a6: hsl(240 100% 18% / 0.15);
  --neutral-a7: hsl(240 100% 18% / 0.2);
  --neutral-a8: hsl(240 100% 19% / 0.27);
  --neutral-a9: hsl(240 100% 13% / 0.45);
  --neutral-a10: hsl(240 100% 11% / 0.5);
  --neutral-a11: hsl(240 100% 8% / 0.62);
  --neutral-a12: hsl(240 100% 4% / 0.89);
  --neutral-contrast: var(--white);

  /* Tokens de color */
  --background: var(--base-background);
  --foreground: var(--neutral-12);
  --accent-background: var(--accent-3);
  --accent-foreground: var(--accent-11);
  --muted-background: var(--neutral-a2);
  --muted-foreground: var(--neutral-11);
  --primary-background: var(--accent-9);
  --primary-foreground: var(--accent-contrast);
  --secondary-background: var(--neutral-3);
  --secondary-foreground: var(--neutral-11);
  --border: var(--neutral-7);
  --outline: var(--accent-11);
  --separator: var(--neutral-6);
  --primary-background-hover: var(--accent-10);
  --secondary-background-hover: var(--neutral-4);
  --border-hover: var(--neutral-8);
}

@media (prefers-color-scheme: dark) {
  :root {
    --base-background: var(--neutral-1);

    --accent-1: hsl(240 22% 10%);
    --accent-2: hsl(244 25% 12%);
    --accent-3: hsl(237 38% 20%);
    --accent-4: hsl(236 45% 27%);
    --accent-5: hsl(237 41% 32%);
    --accent-6: hsl(239 36% 37%);
    --accent-7: hsl(240 34% 44%);
    --accent-8: hsl(241 36% 52%);
    --accent-9: hsl(240 60% 60%);
    --accent-10: hsl(242 64% 64%);
    --accent-11: hsl(246 100% 83%);
    --accent-12: hsl(242 94% 94%);
    --accent-a1: hsl(240 99% 60% / 0.05);
    --accent-a2: hsl(244 94% 64% / 0.09);
    --accent-a3: hsl(237 100% 66% / 0.23);
    --accent-a4: hsl(236 100% 65% / 0.35);
    --accent-a5: hsl(237 98% 67% / 0.42);
    --accent-a6: hsl(239 97% 71% / 0.48);
    --accent-a7: hsl(240 99% 73% / 0.56);
    --accent-a8: hsl(240 99% 74% / 0.67);
    --accent-a9: hsl(240 99% 71% / 0.83);
    --accent-a10: hsl(242 100% 74% / 0.86);
    --accent-a11: hsl(246 100% 83%);
    --accent-a12: hsl(242 100% 94%);
    --accent-contrast: var(--white);

    --neutral-1: hsl(240 6% 7%);
    --neutral-2: hsl(220 6% 10%);
    --neutral-3: hsl(225 6% 14%);
    --neutral-4: hsl(210 7% 16%);
    --neutral-5: hsl(214 7% 19%);
    --neutral-6: hsl(213 8% 23%);
    --neutral-7: hsl(213 8% 28%);
    --neutral-8: hsl(212 8% 38%);
    --neutral-9: hsl(219 6% 44%);
    --neutral-10: hsl(222 5% 49%);
    --neutral-11: hsl(216 7% 71%);
    --neutral-12: hsl(220 9% 94%);
    --neutral-a1: hsl(0 0% 0%);
    --neutral-a2: hsl(184 63% 91% / 0.04);
    --neutral-a3: hsl(211 66% 92% / 0.08);
    --neutral-a4: hsl(198 73% 90% / 0.11);
    --neutral-a5: hsl(208 95% 92% / 0.15);
    --neutral-a6: hsl(208 91% 92% / 0.19);
    --neutral-a7: hsl(208 100% 93% / 0.25);
    --neutral-a8: hsl(208 100% 93% / 0.36);
    --neutral-a9: hsl(216 88% 93% / 0.43);
    --neutral-a10: hsl(220 86% 95% / 0.48);
    --neutral-a11: hsl(212 87% 97% / 0.71);
    --neutral-a12: hsl(220 100% 99% / 0.94);
    --neutral-contrast: var(--white);
  }
}
